<style>

</style>

<div class="user-header row">
  <div class="logo-area col-xs-12 col-sm-8 col-sm-offset-2">
    <h1 class="logo text-center"><%= @user.profile.disp_name %>'s portfolio</h1>
  </div>
</div>


<div class="row">
  <div class="menu" id="user-menu">
    <nav class="navbar">
      <ul class="nav navbar-nav row">
        <li class="col-xs-6 col-md-2 col-md-offset-2">
          <a href="#profile"><%= fa_icon "user lg"%> PROFILE</a>
        </li>
        <li class="col-xs-6 col-md-2">
          <a href="#skills"><%= fa_icon "exclamation lg"%> SKILLS</a>
        </li>
        <li class="col-xs-6 col-md-2">
          <a href="#works"><%= fa_icon "briefcase lg"%> WORKS</a>
        </li>
        <li class="col-xs-6 col-md-2">
          <a href="#links"><%= fa_icon "link lg"%> LINKS</a>
        </li>
      </ul>
    </nav>
  </div>
</div>

<div class="container">
<section id="profile" class="row">
  <h2 class="text-center header-title"><%= fa_icon "user lg"%>&nbsp;PROFILE</h2>
  <div class="col-xs-12 col-md-4 col-md-offset-1">
    <%= image_tag @user.profile.image,  :size => '300x300' , :class=>"img-circle center-block" %>
  </div>
  <div class="col-xs-12 col-md-6 biography">
    <%= @user.profile.biography %>
  </div>
</section>

<section id="skills" class="row">
  <h2 class="text-center header-title"><%= fa_icon "exclamation lg"%>&nbsp;SKILLS</h2>
  <%= render 'skills/lists' ,skills: @user.skills %>
</section>

</div>
<section id="works" class="row">
  <div class="container">
    <h2 class="text-center header-title"><%= fa_icon "briefcase lg"%>&nbsp;WORKS</h2>
  </div>
  <%= render 'works/lists' , works: @user.works %>
</section>

<section id="links" class="row">
  <h2 class="text-center header-title"><%= fa_icon "link lg"%>&nbsp;LINKS</h2>
  <%= render 'user_links/lists' , user_links: @user.user_links %>
</section>
