<%= form_for(current_user, url: skills_path, method: :post) do |f| %>
  <table class="table table-striped table-bordered table-hover">
    <%= f.hidden_field :user_id, :value => current_user.id %>

    <%= f.nested_fields_for :skills,  wrapper_tag: :tr do |s| %>
      <td><%= s.collection_select :skill_master_id, SkillMaster.all, :id, :name ,{} ,{class:"form-control"} %></td>
      <td><%= s.select :age, Skill.ages_i18n.invert, {},class:"form-control" %></td>
      <td><%= s.number_field :level, {class:"form-control"} %></td>
      <td><%= s.remove_nested_fields_link 'Delete', class: 'btn btn-danger', role: 'button' %></td>

    <% end %>

  </table>
  <div class="col-xs-offset-10">
    <%= f.add_nested_fields_link :skills, 'Add new', class: 'btn btn-primary', role: 'button' %>
    <%= f.submit "submit" , class: 'btn btn-primary'%>
  </div>
<% end %>